html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    title=title
  body
    .container
      h1 Configure and run tests
      div.text-center
        div#loader
      div.alert#alert(style="display:none")
      label.btn.btn-primary(for="file-upload-input") Upload HTML File
        input#file-upload-input(type="file" style="display:none;" name="html-file")
      </label>
        form(method="POST" action="/test")
          .row
            .col-6
              .form-group
                label(for="browser-width") Browser width:
                input.form-control(id="browser-width" name="BROWSER_WIDTH")
              input.btn.btn-primary#submit(type="submit")
      script.
        const loader = document.querySelector('#loader');
        const alert = document.querySelector('#alert');
        const sumbitBtn = document.querySelector('#submit');
        const fileUploadForm = document.querySelector('#file-upload-form');
        const fileUploadInput = document.querySelector('#file-upload-input');

        const showSpinner = (shouldShow = true) => {
          if (shouldShow) {
            loader.innerHTML = '<div class="spinner-border text-success" role="status"><span class="sr-only">Loading...</span></div>';
          } else {
            loader.innerHTML = '';
          }
        }

        const toggleAlert = (message, className) => {
          if (message) {
            alert.innerText = message;
            alert.style.display = 'block';
            alert.classList.add(className);
          } else {
            alert.innerText = '';
            alert.style.display = 'none';
          }
        }

        sumbitBtn.addEventListener('click', () => {
          showSpinner();
        });

        fileUploadInput.addEventListener('change', () => {
          const formData = new FormData();
          formData.append('html-file', fileUploadInput.files[0]);
          showSpinner();

          fetch('/file-upload', {method: 'POST', body: formData})
            .then(res => {
              if (res.status !== 200) {
                toggleAlert('Could not upload file', 'alert-danger');
              } else {
                toggleAlert('File upload successful', 'alert-success');
              }
              setTimeout(() => toggleAlert(), 3000);
              showSpinner(false);
            })
        });